:root{
    --background: #0b0f1a;
    --primary: #ababab;
    --secondary: #a855f7;
    --green: #00ff00;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h2{
  text-align: center;
  font-size: 30px;
  color: var(--secondary);
}

form{
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 4px var(--primary);
  padding: 20px;
  border-radius: 10px;
}

form input {
  width: 300px;
  padding: 10px 13px;
  border: 2px solid #ccc; 
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 16px;
  transition: all 0.3s ease; 
}

form input:focus {
  border-color: #a855f7;
  box-shadow: 0 0 8px #a855f7;
  outline: none;
}

form button{
  width: 100%;
}

span{
  text-align: center;
}