:root{
    --background: #0b0f1a;
    --primary: #ababab;
    --secondary: #a855f7;
    --green: #00ff00;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h2{
  text-align: center;
  font-size: 30px;
  color: var(--secondary);
}

form{
  box-sizing: border-box;
  box-shadow: 0 0 10px var(--secondary);
  padding: 20px;
  width: 350px;
  border-radius: 5px;
}

form input {
  padding: 10px 13px;
  border: none;
  width: 100%;
  background: transparent; 
  border-radius: 10px;
  outline: none;
  border-bottom: 1px solid var(--primary);
  box-sizing: border-box;
  font-size: 16px;
  transition: all 0.3s ease; 
}

form button{
  width: 100%;
}

span{
  text-align: center;
}