:root{
    --background: #0b0f1a;
    --primary: #ababab;
    --secondary: #a855f7;
    --green: #00ff00;
}

.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background);
}

form{
  box-shadow: 0 0 10px var(--secondary);
  padding: 40px 30px;
  border-radius: 5px;
  width: 300px;
}

form input{
  border: none;
  border-bottom: 1px solid var(--primary);
  background: transparent;
  border-radius: 5px;
  color: var(--primary);
  margin-bottom: 15px;
  width: 95%;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

h2{
  color: var(--secondary);
  text-align: center;
}
button{
  width: 100%;
}

span{
  text-align: center;
}